Package: dev.luminous.proxy
Name: Luminous Proxy Injector
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Injects Luminous proxy into Twitch app.
Maintainer: Yeti
Author: Yeti
Section: Tweaks
